.service-navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $white;
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    box-shadow: 0 2px 6px 0px #00000040;
    .content{
        ul{
            list-style: none;
            padding: 0px;
            li{
                float: left;
                padding: 12px 30px;
                &.active {
                    border-bottom: solid 3px $t-green;
                    span{
                        color: $t-green;
                    }
                }
                span{
                    color: #9E9E9E;
                }
                &.submit{
                    float: right;
                    background-color: $t-green;
                    border-bottom: solid 3px $t-green;
                    color: $white;
                    border-top-right-radius: 0.375rem;
                    border-bottom-right-radius: 0.375rem;
                    width: 100px;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        color: $t-yellow;
                        border-bottom: solid 3px $t-green;
                        @include box-shadow($btn-hover-box-shadow);
                    }
                }
            }
        }
    }
}

.service-filter{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: $white;
    border-radius: 0.375rem;
    box-shadow: 0 1px 6px 0px #00000040;
    .title{
        color: $gray-600;
    }
    .content{
        .option{
            .title{
                color: $gray-700;
            }
        }
    }
}

.service-items{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: $white;
    border-radius: 0.375rem;
    box-shadow: 0 1px 6px 0px #00000040;
}